.top-header {
	text-align: center;
}
.container {
	margin-top: 70px;
}
#profile-pic {
	margin-top: 10px;
	border: 1px solid #bbb;
	border-radius: 3px;
}
#datepicker {
	margin-top: 20px;
}
#profile-btn {
	margin: 10px 0px 15px 158px;
	padding: 15px 30px;
}