.alert-plan {
	margin-bottom: 30px;
}
.help-header {
	margin-top: 0px;
	padding-top: 0px;
	border-bottom: 1px solid #dddddd;
}
.help-body-steps {
	margin-bottom: 30px;
}
.help-body-img-container {
	text-align: center;
}