body {
	font-family: Gotham, helvetica, sans-serif;
}
.top-wrapper {
	background: url(/assets/img/over_the_bridge_blur_small_compressed.png) no-repeat center 60% fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 580px;
	width: 100%;
	position: relative;
	top: 0px;
}
.btn-blue {
	background-color: hsl(214, 44%, 26%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4473b0", endColorstr="#253e5f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#4473b0), to(#253e5f));
	background-image: -moz-linear-gradient(top, #4473b0, #253e5f);
	background-image: -ms-linear-gradient(top, #4473b0, #253e5f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4473b0), color-stop(100%, #253e5f));
	background-image: -webkit-linear-gradient(top, #4473b0, #253e5f);
	background-image: -o-linear-gradient(top, #4473b0, #253e5f);
	background-image: linear-gradient(#4473b0, #253e5f);
	border-color: #253e5f #253e5f hsl(214, 44%, 20.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
}
.btn-facebook {
	background-color: hsl(221, 72%, 27%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d4cb3", endColorstr="#133276");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#1d4cb3), to(#133276));
	background-image: -moz-linear-gradient(top, #1d4cb3, #133276);
	background-image: -ms-linear-gradient(top, #1d4cb3, #133276);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d4cb3), color-stop(100%, #133276));
	background-image: -webkit-linear-gradient(top, #1d4cb3, #133276);
	background-image: -o-linear-gradient(top, #1d4cb3, #133276);
	background-image: linear-gradient(#1d4cb3, #133276);
	border-color: #133276 #133276 hsl(221, 72%, 23.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
	-webkit-font-smoothing: antialiased;
}
.btn-demo {
	background-color: hsl(2, 88%, 29%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1150e", endColorstr="#8b0d08");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e1150e), to(#8b0d08));
	background-image: -moz-linear-gradient(top, #e1150e, #8b0d08);
	background-image: -ms-linear-gradient(top, #e1150e, #8b0d08);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1150e), color-stop(100%, #8b0d08));
	background-image: -webkit-linear-gradient(top, #e1150e, #8b0d08);
	background-image: -o-linear-gradient(top, #e1150e, #8b0d08);
	background-image: linear-gradient(#e1150e, #8b0d08);
	border-color: #8b0d08 #8b0d08 hsl(2, 88%, 24.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
	-webkit-font-smoothing: antialiased;
}
.btn-cta {
	font-size: 20px;
	padding: 15px 0px;
	width: 300px;
}
#primary-wrapper, #primary-container {
	margin-top: 75px;
	min-height: 536px;
}
#featurette-one {
	margin-top: 150px;
	background-color: rgba(255,255,255, .75);
	text-align: center;
}
#featurette-one h1 {
	font-size: 40px;
	margin-bottom: 15px;
}
#featurette-one p {
	margin-bottom: 17px;
	font-size: 22px;
	letter-spacing: -1px;
}
#featurette-two {
	font-size: 15px;
	font-weight: 550;
}
#featurette-two p {
	line-height: 22px;
	color: #747170;
}
.core-features {
	padding-top: 30px;
	background-color: white;
	-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.5);
	box-shadow:inset 0px 2px 15px rgba(0,0,0,.5);
	background-image:url('/assets/img/checkboxes.png');
	width: 100%;
}
.core-bottom-row {
	margin-top: 30px;
}
#validate-icon {
	position: relative;
	top: 11px;
}
#convert-icon {
	position: relative;
	top: 10px;
}
#manage-icon {
	position: relative;
	top: 3px;
}
#setup-icon {
	position: relative;
	top: 3px;
}
.hr-drop {
	padding-top: 50px;
	padding-bottom: 50px;
}
.hr-how-it-works {
	margin-top: 60px;
	margin-bottom: 60px;
}
.featurette-header {
	font-size: 40px;
}
.featurette-header-bold {
	color: #000000;
}
.featurette-header-small {
	font-size: 32px;
	margin: 0px;
}
.form-example-header {
	text-align: center;
	margin-bottom: 60px;
}
.form-example {
	border-radius: 4px;
	border: 1px solid #ddd;
	background-color: #ffffff;
	padding: 40px 20px;
}
.captcha {
	margin: 0px auto;
}
#form-input-example {
	margin-bottom: 60px;
}
#form-example-btn {
	position: relative;
	left: 329px;
}
#demo-header {
	text-align: center;
}
#demo-btn {
	width: 300px;
	position: relative;
	left: 330px;
	margin-top: 30px;
}
.align-right {
	text-align: right;
}
.core-features {
	padding-bottom: 0px;
}
.bottom-band {
	background-color: black;
	background-color: rgba(53, 53, 53, .9);
	color: white;
	text-shadow: 0.1em 0.1em 0.05em #333;
	text-align: center;
	padding: 70px;
}
.bottom-band a {
	margin: 30px;
}
.login-wrapper, .pricing-wrapper {
	background-image:url('/assets/img/checkboxes.png');
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 20px;
}
#signup-container, #login-container {
	margin-top: 90px;
	margin-bottom: 300px;
	text-align: center;
}
#signup-container p, #login-container p {
	line-height: 30px;
	font-size: 16px;
}
#signup-button-container, #login-button-container {
	margin-bottom: 12px;
}
#pricing-header-text {
	padding: 0px;
	margin: 0px;
}
#pricing-table {
	margin-top:20px;
	margin-bottom: 50px;
	background-color: white;
	font-size: 18px;
}